/*Page Setup*/
@font-face {
    font-family: 'stopbullying';
    src: url('Assets/Stop_Bullying.ttf') format('truetype');
}


* {
    transition: all 0.25s ease-in;
}

/*
body {
    font-family: 'stopbullying', serif;
    background-image: linear-gradient(to bottom, #b7e09f, #addd91, #a2d982, #98d674, #8dd265);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    animation: FadeInAnimation ease-in 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}*/

body {
    font-family: 'stopbullying', serif;
    background-image: url('Assets/Background.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #10120f9a;
    animation: FadeInAnimation ease-in 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    margin: 0;
}

.BlackFade {
    background-color: #10120f9a;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.GreenFade {
    background-color: #2a6b0a26;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/*Scrollbar*/
body::-webkit-scrollbar {
    width: 12px;
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    border: 1px solid #a2d982;
    background-color: #a2d982;
    box-shadow: inset 0 0 6px #a2d982;
}

body::-webkit-scrollbar-thumb {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(.5, #396f1a), color-stop(1, #468322));
    border-radius: 10px;
}



/*Hover Effects*/
.HoverEffect2 {
    background-image: linear-gradient(rgb(0 0 0/0%) 0 0);
}

.HoverEffect1:hover {
    transform: scale(1.03);
}

.HoverEffect2:hover {
    background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
}

.HoverEffect1:active {
    transform: scale(0.9);
}

.HoverEffect2:active {
    background-image: linear-gradient(rgb(0 0 0/30%) 0 0);
    transform: scale(0.95);
}

.HoverEffectSuddle1:hover {
    transform: scale(1.02);
}



/*Black Fade*/
@keyframes FadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes FadeOutAnimation {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes PulseAnimation {
    0% {
        scale: 1
    }

    50% {
        scale: 1.05
    }

    100% {
        scale: 1
    }
}

.PulseAnimation {
    animation-name: PulseAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.FadeOut {
    opacity: 0%;
}

.FadeHin {
    opacity: 100%;
}

.BlackOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-image: linear-gradient(to bottom, #0e0f04, #0f1103, #101401, #101601, #101800);
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

/*Text Area*/
.TextArea {
    width: 400px;
    height: auto;
    border: 5px black solid;
    border-radius: 30px;
    margin: 10px;
}

.TextAreaTextCon {
    display: grid;
    align-content: center;
    grid-template-columns: 70% 30%;
    align-items: center;
    justify-items: center;
}

.TextAreaImage {
    width: 90%;
}


/*Logo COn*/
.LogoCon {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (orientation : portrait) {
    .LogoCon {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


.LogoImg {
    height: 100%;
}


/*Spalsh Screen*/

.SplashLayer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SplashLayerCon {
    margin: auto auto;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.SplashLogoCon {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (orientation : portrait) {
    .LogoImg {
        width: 100%;
        height: auto;
    }
}

/*UI Layer*/

.UILayer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


/* Settings Layer */

.SettingsLayer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.SettingsBackground {
    width: 90%;
    height: 60%;
    background-color: #9cdc4d;
    border: 8px #405b1e solid;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

@media (orientation : landscape) {
    .SettingsBackground {
        width: 70%;
        height: 70%;
        background-color: #9cdc4d;
        border: 8px #405b1e solid;
        border-radius: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
}

.SettingsHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.SettingsContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SettingsConRow {
    display: flex;
    width: 70%;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.SettingsCheckbox {
    width: 8%;
}

@media (orientation : portrait) {
    .SettingsCheckbox {
        width: 12%;
    }
}

.SettingsConRowLanguage {
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: center;
}

.LangaugeIconsCon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
}

.SettingsLanguageIcon {
    width: 15%;
}

.LanguageSelected {
    border: 4px solid #468322;
    border-radius: 50%;
}

.SettingsConRowFooter {
    text-align: center;
    width: 70%;
    margin-top: 10%;
}


/* Select Level Layer */
.SelectLevelLayer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}



/* Name Layer */
.NameLayer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.NoNameLayer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #27090959;
}

.NmaeLayerButtons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    width: 100%;
}

.NmaeLayerButtons .Button{
    margin: 5px 0;
}

/* Classifica */
.ClassificaLayer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ClassificaRowsCon{
    display: flex;
    max-height: 80%; 
    height: 80%;
    overflow: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-height: 500px) {
    .ClassificaRowsCon{
        display: flex;
        max-height: 80%; 
        height: 80%;
        overflow: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 15%;
        padding-bottom: 5%;
    }
}

.ClassificaRow{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 70%;
    height: 16%;
}

@media (orientation : portrait) {
    .ClassificaRow{
        margin: 10px 0;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        width: 80%;
        height: 20%;
    }
}

.ClassificaRow div{
    width: 30%;
}
.ClassificaRow .ImgDiv{
    height: 100%;
}

.ClassificaImg{
    width: 10%;
}

.LayerBackgroundClassifica {
    width: 50%;
    height: 80%;
    background-color: #9cdc4d;
    border: 8px #405b1e solid;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 15px 0;
}

@media (orientation : portrait) {
    .LayerBackgroundClassifica {
        width: 90%;
        height: 60%;
        background-color: #9cdc4d;
        border: 8px #405b1e solid;
        border-radius: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        padding: 10px 0;
    }
}

/*Scrollbar*/
.ClassificaRowsCon::-webkit-scrollbar {
    display: none;
}

/* General Screens */
.LayerBackground {
    width: 40%;
    height: 65%;
    background-color: #9cdc4d;
    border: 8px #405b1e solid;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

@media (orientation : portrait) {
    .LayerBackground {
        width: 80%;
        height: 65%;
        background-color: #9cdc4d;
        border: 8px #405b1e solid;
        border-radius: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
    }
}

.LayerBackgroundSmall {
    width: 40%;
    height: 40%;
    background-color: #9cdc4d;
    border: 8px #405b1e solid;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

@media (orientation : portrait) {
    .LayerBackgroundSmall {
        width: 95%;
        height: 37%;
        background-color: #9cdc4d;
        border: 8px #405b1e solid;
        border-radius: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
    }
}

.TitleHeader {
    text-align: center;
    width: 100%;
}


/* Alert */
.LayerAlert{
    width: 30%;
    height: 15%;
    background-color: #e65959;
    border: 8px #a42f2f solid;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

@media (orientation : portrait) {.LayerAlert{
    width: 70%;
    height: 15%;
    background-color: #e65959;
    border: 8px #a42f2f solid;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}}


/*Menu Ui*/

.MenuButtonsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*Buttons*/
.Button {
    padding: 10px 50px;
    font-family: 'stopbullying', serif;
    border: 5px black solid;
    border-radius: 30px;
}

.MenuButton {
    padding: 25px 110px;
    font-family: 'stopbullying', serif;
    border: 5px black solid;
    border-radius: 50px;
    font-size: 30px;
    margin: 5px;
}

.MenuButton2 {
    padding: 15px 0;
    width: 260px;
    font-family: 'stopbullying', serif;
    border: 5px black solid;
    border-radius: 50px;
    font-size: 20px;
    margin: 5px;
}

.CloseXButton {
    padding: 10px 15px;
    font-family: 'stopbullying', serif;
    border: 5px rgb(98, 31, 31) solid;
    background-color: #e65959;
    color: rgb(98, 31, 31);
    border-radius: 15px;
    font-size: 15px;
}

.TextInput {
    padding: 10px 5px;
    width: 70%;
    font-family: 'stopbullying', serif;
    border-radius: 30px;
    text-align: center;
}

/*Button Colors*/
.GreenButton {
    background-color: #a6e659;
}

.RedButton {
    background-color: #e65959;
}

.WhiteButton {
    background-color: #f8fff4;
}

.BlackButton {
    background-color: #10120f;
}

.YellowButton {
    background-color: #f1c24d;
}

.BorderedGreenButton {
    background-color: #a6e659;
    border: 5px #405b1e solid;
}

.BorderedYellowButton {
    background-color: #f1c24d;
    border: 5px #977828 solid;
}

.BorderedRedButton {
    background-color: #e65959;
    border: 5px #a42f2f solid;
}

.BorderedWitheButton {
    background-color: #eaf8ca;
    border: 5px #6f755f solid;
}


/*Text Colors*/
.BlackText {
    color: black;
}

.WhiteText {
    color: white;
}

.GreenText {
    color: #9cdc4d;
}

/* Font Sizes */

.ScalableH1 {
    font-size: 32px;
}

@media (orientation : portrait) {
    .ScalableH1 {
        font-size: 26px;
    }
}


.ScalableH2 {
    font-size: 24px;
}

@media (orientation : portrait) {
    .ScalableH2 {
        font-size: 18px;
    }
}

.ScalableH4 {
    font-size: 21px;
}

@media (orientation : portrait) {
    .ScalableH4 {
        font-size: 15px;
    }
}


/*Text Borders*/
.TextBorderWhite {
    text-shadow: -1px 1px 0 #ffffff,
        1px 1px 0 #ffffff,
        1px -1px 0 #ffffff,
        -1px -1px 0 #ffffff;
}

.TextBorderBlack {
    text-shadow: -1px 1px 0 #000000,
        1px 1px 0 #000000,
        1px -1px 0 #000000,
        -1px -1px 0 #000000;
}

.TextBorderGreenBig {
    text-shadow: -3px 3px 0 #405b1e,
        3px 3px 0 #405b1e,
        3px -3px 0 #405b1e,
        -3px -3px 0 #405b1e;
}

/*Other*/
.Hidden {
    display: none;
}

.CursorPointer {
    cursor: pointer;
}