* {
    user-select: none;
    -webkit-user-drag: none;
}

body {
    height: 100%;
    margin: 0;
    background-image: url('Assets/Background.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.BlackFade {
    background-color: #10120f9a;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

:focus {
    outline: none;
}

.GameGridLayer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.GridContainer {
    background-color: antiquewhite;
    padding: 20px;
    margin: 3px;
    border-radius: 20px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    max-width: 100%;
    margin: 0 auto;
}

.matrice-div {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
    border: 2px solid grey;
    border-radius: 10px;
    margin: 5px;
}

.matrice-div img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 5px;
}

@media screen and (min-width: 600px) {
    .matrice-div {
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: lightgrey;
        border: 2px solid grey;
        border-radius: 10px;
        margin: 5px;
    }
}

.PaperDivBG {
    background-color: #faca77;
    border: 3px solid #b48533;
}

.PlasticDivBG {
    background-color: #add8e6;
    border: 3px solid #387e96;
}

.GlassDivBG {
    background-color: #90ee90;
    border: 3px solid #337b33;
}

.TrashDivBG {
    background-color: #c99ee6;
    border: 3px solid #603a79;
}

.RadioactiveDivBG {
    background-color: #b7bcb3;
    border: 3px solid #515f46;
}

.RecycleDivBG {
    background-color: #F5EBA1;
    border: 3px solid #73804b;
}

.NatureLoveDivBG {
    background-color: #F5C6C7;
    border: 3px solid #9c6b6c;
}

.hidden {
    display: none;
}