/*Page Setup*/
@font-face {
    font-family: 'stopbullying';
    src: url('Assets/Stop_Bullying.ttf') format('truetype');
}

* {
    user-select: none;
    -webkit-user-drag: none;
    transition: all 0.15s ease-in;
}

body {
    font-family: 'stopbullying', serif;
    height: 100%;
    margin: 0;
    background-image: url('Assets/Background.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.HideAllOverflow {
    overflow-x: hidden;
    overflow-y: hidden;
}

.BlackFade {
    background-color: #10120f9a;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.FadeOut {
    opacity: 0%;
}

.FadeIn {
    opacity: 100%;
}

.BlackOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-image: linear-gradient(to bottom, #0e0f04, #0f1103, #101401, #101601, #101800);
    z-index: 999;
    opacity: 1;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

/*Scrollbar*/
.CustomScrollbar::-webkit-scrollbar {
    width: 12px;
    border-radius: 10px;
}

.CustomScrollbar::-webkit-scrollbar-track {
    border: 1px solid #a2d982;
    background-color: #a2d982;
    box-shadow: inset 0 0 6px #a2d982;
}

.CustomScrollbar::-webkit-scrollbar-thumb {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(.5, #396f1a), color-stop(1, #468322));
    border-radius: 10px;
}

/* Animations */
@keyframes Shaking1 {

    0%,
    100% {
        transform: translateX(0);
    }

    5%,
    15%,
    25%,
    35%,
    45%,
    55%,
    65%,
    75%,
    85%,
    95% {
        transform: translateX(-2px) rotate(-0.3deg);
    }

    10%,
    20%,
    30%,
    40%,
    50%,
    60%,
    70%,
    80%,
    90% {
        transform: translateX(2px) rotate(0.3deg);
    }
}

@keyframes Shaking2 {

    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-1px) rotate(-0.2deg);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(1px) rotate(0.2deg);
    }
}

.Shake1 {
    animation: Shaking2 0.4s cubic-bezier(0.36, 0.07, 0.19, 0.97);
    transform-origin: center;
}

@keyframes ZoomInSpawn {
    0% {
        scale: 0;
    }

    70% {
        scale: 1.15;
    }

    100% {
        scale: 1;
    }
}

@keyframes ZoomOtDespawn {
    100% {
        scale: 0;
        opacity: 0%;
    }

    20% {
        scale: 1.15;
    }

    0% {
        scale: 1;
        opacity: 100%;
    }
}

.ScaleInSpawn1 {
    animation: ZoomInSpawn 0.4s ease-in;
    transform-origin: center;
}

.ScaleOutDespawn1 {
    animation: ZoomOtDespawn 0.2s ease-out;
    transform-origin: center;
}

/* Tutorial Layer */
.TutrialLayer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    background-image: linear-gradient(to bottom, #132707ad, #132707ad, #132707ad, #132707ad, #132707ad);
    /*background-image: linear-gradient(to right top, #cdedc2ad, #c2ebb4ad, #b7e8a6ad, #ace698ad, #a1e38aad);*/
    background-color: #00000034;
}

.TuoralDialoguesCon {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.TutorialTextConatiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 65%;
}

.TutorialButtonContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
}

.TutorialImage {
    height: 45%;
    margin-top: 5%;
}

.TutroialNutriaImage {
    width: 25%;
}

.TutroialButton {
    padding: 10px 50px;
    font-family: 'stopbullying', serif;
    border: 5px black solid;
    border-radius: 30px;
}

@media screen and (max-width: 600px) {
    .TuoralDialoguesCon {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .TutorialImage {
        width: 100%;
        margin-bottom: 20%;
        height: auto;
    }

    .TutroialNutriaImage {
        width: 40%;
        margin-top: 20px;
    }

    .TutrialLayer {
        justify-content: center;
    }
}


:focus {
    outline: none;
}

.GameGridLayer {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    overflow-y: auto;
    max-width: 100%;
    max-height: 100vh;
    height: 100%;
    align-items: center;
    width: 100%;
}

.GridContainer {
    background-color: #faebd7;
    border: 5px solid #66553e;
    padding: 20px;
    margin: 3px;
    border-radius: 20px;
    margin-left: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    max-width: 100%;
    margin: 0 auto;
}

.matrice-div {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
    border: 2px solid grey;
    border-radius: 10px;
    margin: 5px;
}

.matrice-div img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 5px;
}

.UiButtonsConatiner {
    margin-top: 10px;
}

/* UI */
.GameAndSideStatsCon {
    display: flex;
    justify-content: normal;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.ProgressBarsCon {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.GameStatsCon1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.GameAndSideStatsConSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    flex-wrap: wrap;
    margin-right: 0;
    margin-bottom: 10px;
}

@media screen and (min-width: 1100px) {

    .GridContainer {
        background-color: #faebd7;
        border: 5px solid #66553e;
        padding: 20px;
        margin: 3px;
        border-radius: 20px;
        margin-left: 20px;
    }

    .GameAndSideStatsConSide {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: space-around;
        flex-wrap: wrap;
        margin-right: 20px;
    }

    .matrice-div {
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: lightgrey;
        border: 2px solid grey;
        border-radius: 10px;
        margin: 5px;
    }

    .GameAndSideStatsCon {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: row;
        width: 100%;
    }

    .GameAndSideStatsConSide {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: space-around;
        flex-wrap: wrap;
        margin-right: 20px;
        width: 20%;
    }

    .GameStatsCon1 {
        width: 90%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        text-align: center;
    }


}



/* GameOVer Layer */
.GameOverLayer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background-image: linear-gradient(to bottom, #0e0f04ad, #0f1103ad, #101401ad, #101601ad, #101800ad);
}

.GameOverCon {
    width: 70%;
    height: 60%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.GameverlNutriaImage {
    height: 100%;
}

.GameOverTextConatiner {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.GameOverButtonContainer {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.TutorialButtonContainer input{
    margin: 0 0;
}

@media screen and (max-width: 600px) {
    .GameOverCon {
        width: 90%;
        height: 60%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .GameverlNutriaImage {
        height: 70%;
    }

    .GameOverTextConatiner {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .GameOverButtonContainer {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: row;
    }

    .TutorialButtonContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        width: 100%;
    }

    .TutorialButtonContainer input{
        margin: 3px 0;
    }
}

/*Hover Effects*/
.HoverEffect2 {
    background-image: linear-gradient(rgb(0 0 0/0%) 0 0);
}

.HoverEffect1:hover {
    transform: scale(1.03);
}

.HoverEffect2:hover {
    background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
}

.HoverEffect1:active {
    transform: scale(0.9);
}

.HoverEffect2:active {
    background-image: linear-gradient(rgb(0 0 0/30%) 0 0);
    transform: scale(0.95);
}

.HoverEffectSuddle1:hover {
    transform: scale(1.02);
}

@keyframes PulseAnimation {
    0% {
        scale: 1
    }

    50% {
        scale: 1.05
    }

    100% {
        scale: 1
    }
}

.HoverAnimation:hover {

    animation: PulseAnimation 0.45s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
    transform-origin: center;
}

.HoverAnimation {
    animation-name: none;
    animation-duration: 0s;
    animation-iteration-count: infinite;
}


/* Colors */
.PaperDivBG {
    background-color: #faca77;
    border: 3px solid #b48533;
}

.PlasticDivBG {
    background-color: #add8e6;
    border: 3px solid #387e96;
}

.GlassDivBG {
    background-color: #90ee90;
    border: 3px solid #337b33;
}

.TrashDivBG {
    background-color: #c99ee6;
    border: 3px solid #603a79;
}

.RadioactiveDivBG {
    background-color: #f38a82;
    border: 3px solid #994e49;
}

.RecycleDivBG {
    background-color: #F5EBA1;
    border: 3px solid #73804b;
}

.NatureLoveDivBG {
    background-color: #F5C6C7;
    border: 3px solid #9c6b6c;
}

.SelectedDivBG {
    background-color: #e0ffa8;
    border: 3px solid #6a823e;
}

.hidden {
    display: none;
}

/*Progress Bars*/
.ProgressBarContainer {
    width: 95%;
    margin: 0 auto;
    height: 30px;
    border: 5px black solid;
    border-radius: 20px;
    margin: 5px;
    background-color: #82887f79;
}

.ProgressBar {
    text-align: center;
    height: 30px;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    width: 0%;
}

.ImageProgressBarContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.ProgressBarImage {
    height: 30px;
}

.ProgressBarImage {
    width: auto;
}

.GreenBackground {
    background-image: linear-gradient(to right, #b1ef64, #a6e659, #9cdc4d, #92d341, #87ca35);
}

.YellowBackground {
    background-image: linear-gradient(to right, #faca77, #fbba4b, #f6b445, #f2af3e, #edaa37);
}

.BlueBackground {
    background-image: linear-gradient(to right, #5f7ee3, #5776dd, #4f6fd6, #4767d0, #3f60c9);
}

.DarkGreenBackground {
    background-image: linear-gradient(to right, #166528, #145c24, #125320, #104a1d, #0e4119);
}

.VioletBackground {
    background-image: linear-gradient(to right, #c99ee6, #9256b9, #8b50b4, #8549ae, #7f42a9);
}

.WhiteBackground {
    background-image: linear-gradient(to bottom, #edffe3, #e8fedc, #e3fed5, #dffdcd, #dafcc6);
}



/*Buttons*/
.Button {
    padding: 10px 50px;
    font-family: 'stopbullying', serif;
    border: 5px black solid;
    border-radius: 30px;
}

.MenuButton {
    padding: 25px 110px;
    font-family: 'stopbullying', serif;
    border: 5px black solid;
    border-radius: 50px;
    font-size: 30px;
    margin: 5px;
}

.MenuButton2 {
    padding: 15px 0;
    width: 260px;
    font-family: 'stopbullying', serif;
    border: 5px black solid;
    border-radius: 50px;
    font-size: 20px;
    margin: 5px;
}

.CloseXButton {
    padding: 10px 15px;
    font-family: 'stopbullying', serif;
    border: 5px rgb(98, 31, 31) solid;
    background-color: #e65959;
    color: rgb(98, 31, 31);
    border-radius: 15px;
    font-size: 15px;
}

.TextInput {
    padding: 10px 5px;
    width: 70%;
    font-family: 'stopbullying', serif;
    border-radius: 30px;
    text-align: center;
}


/*Pop in*/
.ComboTextLayer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in;
    background-image: linear-gradient(to bottom, #0e0f04ad, #0f1103ad, #101401ad, #101601ad, #101800ad);
}

.ErrorTextLayer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in;
    background-image: linear-gradient(to bottom, #300909ad, #300909ad, #300909ad, #300909ad, #300909ad);
}

.ComboText {
    font-size: 50px;
    /* Adjust font size as needed */
    opacity: 0;
    animation: popIn 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
    animation-delay: 0.5s;
}

.ErrorText {
    font-size: 50px;
    /* Adjust font size as needed */
    color: #ed6c6c;
    text-shadow: -2px 2px 0 #a82d2d,
        2px 2px 0 #a82d2d,
        2px -2px 0 #a82d2d,
        -2px -2px 0 #a82d2d;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    10%,
    90% {
        transform: translateX(-10px);
    }

    20%,
    80% {
        transform: translateX(10px);
    }

    30%,
    50%,
    70% {
        transform: translateX(-10px);
    }

    40%,
    60% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}

.ErrorShake {
    animation: shake 0.5s ease-in-out;
}

.ComboText4 {
    color: #c0ed6c;
    text-shadow: -2px 2px 0 #76a026,
        2px 2px 0 #76a026,
        2px -2px 0 #76a026,
        -2px -2px 0 #76a026;
}

.ComboText5 {
    color: #e994b7;
    text-shadow: -2px 2px 0 #d05387,
        2px 2px 0 #d05387,
        2px -2px 0 #d05387,
        -2px -2px 0 #d05387;
}


@keyframes popIn {
    0% {
        transform: scale(0.5) rotate(0deg);
        /* Initial scale and rotation */
        opacity: 0;
    }

    70% {
        transform: scale(1.2) rotate(5deg);
        /* Scale up and rotate slightly */
        opacity: 1;
    }

    100% {
        transform: scale(1) rotate(0deg);
        /* Return to normal scale and rotation */
        opacity: 1;
    }
}

.confetti-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.confetti {
    width: 10px;
    height: 10px;
    background-color: #ffcc00;
    position: absolute;
    border-radius: 50%;
    opacity: 0;
    animation: confettiAnimation 0.9s ease-out;
}

@keyframes confettiAnimation {
    0% {
        opacity: 1;
        transform: translate(0, 0) rotate(0deg);
    }

    100% {
        opacity: 0;
        transform: translate(calc(-50% + var(--x)), calc(-50% + var(--y))) rotate(720deg);
    }
}


/* Settings Layer */
.SettingsLayer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in;
}

.SettingsBackground {
    width: 90%;
    height: 60%;
    background-color: #9cdc4d;
    border: 8px #405b1e solid;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

@media (orientation : landscape) {
    .SettingsBackground {
        width: 70%;
        height: 80%;
        background-color: #9cdc4d;
        border: 8px #405b1e solid;
        border-radius: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
}

.SettingsHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.SettingsContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SettingsConRow {
    display: flex;
    width: 70%;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.SettingsCheckbox {
    width: 8%;
}

@media (orientation : portrait) {
    .SettingsCheckbox {
        width: 12%;
    }
}

.SettingsConRowLanguage {
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: center;
}

.LangaugeIconsCon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
}

.SettingsLanguageIcon {
    width: 15%;
}

.LanguageSelected {
    border: 4px solid #468322;
    border-radius: 50%;
}

.SettingsConRowFooter {
    text-align: center;
    width: 70%;
    /*margin-top: 10%;*/
}

/*Button Colors*/
.GreenButton {
    background-color: #a6e659;
}

.RedButton {
    background-color: #e65959;
}

.WhiteButton {
    background-color: #f8fff4;
}

.BlackButton {
    background-color: #10120f;
}

.YellowButton {
    background-color: #f1c24d;
}

.BorderedGreenButton {
    background-color: #a6e659;
    border: 5px #405b1e solid;
}

.BorderedYellowButton {
    background-color: #f1c24d;
    border: 5px #977828 solid;
}

.BorderedRedButton {
    background-color: #e65959;
    border: 5px #a42f2f solid;
}

.BorderedWitheButton {
    background-color: #eaf8ca;
    border: 5px #6f755f solid;
}


/*Text Colors*/
.BlackText {
    color: black;
}

.WhiteText {
    color: white;
}

.GreenText {
    color: #9cdc4d;
}

/* Font Sizes */

.ScalableH1 {
    font-size: 32px;
}

@media (orientation : portrait) {
    .ScalableH1 {
        font-size: 23px;
    }
}

.ScalableH2 {
    font-size: 24px;
}

@media (orientation : portrait) {
    .ScalableH2 {
        font-size: 18px;
    }
}

.ScalableH4 {
    font-size: 21px;
}

@media (orientation : portrait) {
    .ScalableH4 {
        font-size: 15px;
    }
}


/*Text Borders*/
.TextBorderWhite {
    text-shadow: -1px 1px 0 #ffffff,
        1px 1px 0 #ffffff,
        1px -1px 0 #ffffff,
        -1px -1px 0 #ffffff;
}

.TextBorderBlack {
    text-shadow: -1px 1px 0 #000000,
        1px 1px 0 #000000,
        1px -1px 0 #000000,
        -1px -1px 0 #000000;
}

.TextBorderGreenBig {
    text-shadow: -3px 3px 0 #405b1e,
        3px 3px 0 #405b1e,
        3px -3px 0 #405b1e,
        -3px -3px 0 #405b1e;
}

.TextStyleRiciclo {
    color: #a6e659;
    text-shadow: -2px 2px 0 #405b1e,
        2px 2px 0 #405b1e,
        2px -2px 0 #405b1e,
        -2px -2px 0 #405b1e;
}

.TextStyleAmore {
    color: #F5C6C7;
    text-shadow: -2px 2px 0 #9c6b6c,
        2px 2px 0 #9c6b6c,
        2px -2px 0 #9c6b6c,
        -2px -2px 0 #9c6b6c;
}

.TextStyleRadioativo {
    color: #e65959;
    text-shadow: -2px 2px 0 #a42f2f,
        2px 2px 0 #a42f2f,
        2px -2px 0 #a42f2f,
        -2px -2px 0 #a42f2f;
}

/*Other*/
.Hidden {
    display: none;
}

.CursorPointer {
    cursor: pointer;
}

.TransformAnimation {
    transform: translate(var(--x), var(--y));
    transition: transform 0.25s ease;
    /* Smooth transition effect */
}