/*Page Setup*/
@font-face {
    font-family: 'stopbullying';
    src: url('Assets/Stop_Bullying.ttf') format('truetype');
}

* {
    user-select: none;
    -webkit-user-drag: none;
}

body {
    font-family: 'stopbullying', serif;
    height: 100%;
    margin: 0;
    background-image: url('Assets/Background.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.BlackFade {
    background-color: #10120f9a;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

:focus {
    outline: none;
}

.GameGridLayer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.GridContainer {
    background-color: #faebd7;
    border: 5px solid #66553e;
    padding: 20px;
    margin: 3px;
    border-radius: 20px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    max-width: 100%;
    margin: 0 auto;
}

.matrice-div {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
    border: 2px solid grey;
    border-radius: 10px;
    margin: 5px;
}

.matrice-div img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 5px;
}

@media screen and (min-width: 600px) {
    .matrice-div {
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: lightgrey;
        border: 2px solid grey;
        border-radius: 10px;
        margin: 5px;
    }
}

/* UI */
.GameStatsCon1{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

/* Colors */
.PaperDivBG {
    background-color: #faca77;
    border: 3px solid #b48533;
}

.PlasticDivBG {
    background-color: #add8e6;
    border: 3px solid #387e96;
}

.GlassDivBG {
    background-color: #90ee90;
    border: 3px solid #337b33;
}

.TrashDivBG {
    background-color: #c99ee6;
    border: 3px solid #603a79;
}

.RadioactiveDivBG {
    background-color: #b7bcb3;
    border: 3px solid #515f46;
}

.RecycleDivBG {
    background-color: #F5EBA1;
    border: 3px solid #73804b;
}

.NatureLoveDivBG {
    background-color: #F5C6C7;
    border: 3px solid #9c6b6c;
}

.SelectedDivBG {
    background-color: #e0ffa8;
    border: 3px solid #6a823e;
}

.hidden {
    display: none;
}

/*Buttons*/
.Button {
    padding: 10px 50px;
    font-family: 'stopbullying', serif;
    border: 5px black solid;
    border-radius: 30px;
}

.MenuButton {
    padding: 25px 110px;
    font-family: 'stopbullying', serif;
    border: 5px black solid;
    border-radius: 50px;
    font-size: 30px;
    margin: 5px;
}

.MenuButton2 {
    padding: 15px 0;
    width: 260px;
    font-family: 'stopbullying', serif;
    border: 5px black solid;
    border-radius: 50px;
    font-size: 20px;
    margin: 5px;
}

.CloseXButton {
    padding: 10px 15px;
    font-family: 'stopbullying', serif;
    border: 5px rgb(98, 31, 31) solid;
    background-color: #e65959;
    color: rgb(98, 31, 31);
    border-radius: 15px;
    font-size: 15px;
}

.TextInput {
    padding: 10px 5px;
    width: 70%;
    font-family: 'stopbullying', serif;
    border-radius: 30px;
    text-align: center;
}

/*Button Colors*/
.GreenButton {
    background-color: #a6e659;
}

.RedButton {
    background-color: #e65959;
}

.WhiteButton {
    background-color: #f8fff4;
}

.BlackButton {
    background-color: #10120f;
}

.YellowButton {
    background-color: #f1c24d;
}

.BorderedGreenButton {
    background-color: #a6e659;
    border: 5px #405b1e solid;
}

.BorderedYellowButton {
    background-color: #f1c24d;
    border: 5px #977828 solid;
}

.BorderedRedButton {
    background-color: #e65959;
    border: 5px #a42f2f solid;
}

.BorderedWitheButton {
    background-color: #eaf8ca;
    border: 5px #6f755f solid;
}


/*Text Colors*/
.BlackText {
    color: black;
}

.WhiteText {
    color: white;
}

.GreenText {
    color: #9cdc4d;
}

/* Font Sizes */

.ScalableH1 {
    font-size: 32px;
}

@media (orientation : portrait) {
    .ScalableH1 {
        font-size: 23px;
    }
}

.ScalableH2 {
    font-size: 24px;
}

@media (orientation : portrait) {
    .ScalableH2 {
        font-size: 18px;
    }
}

.ScalableH4 {
    font-size: 21px;
}

@media (orientation : portrait) {
    .ScalableH4 {
        font-size: 15px;
    }
}


/*Text Borders*/
.TextBorderWhite {
    text-shadow: -1px 1px 0 #ffffff,
        1px 1px 0 #ffffff,
        1px -1px 0 #ffffff,
        -1px -1px 0 #ffffff;
}

.TextBorderBlack {
    text-shadow: -1px 1px 0 #000000,
        1px 1px 0 #000000,
        1px -1px 0 #000000,
        -1px -1px 0 #000000;
}

.TextBorderGreenBig {
    text-shadow: -3px 3px 0 #405b1e,
        3px 3px 0 #405b1e,
        3px -3px 0 #405b1e,
        -3px -3px 0 #405b1e;
}

/*Other*/
.Hidden {
    display: none;
}

.CursorPointer {
    cursor: pointer;
}